<div class="row details">
  <form class="form-horizontal sc-params" form ng-submit="search()">
    <fieldset>
    <!-- Form Name -->
    <!-- <legend>Details: </legend> -->

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="txt_username">SoundCloud Username</label>
      <div class="controls">
      <input id="txt_username" ng-model="scDetails.username" name="txt_username" type="search" value="phytone" class="input-medium form-control">

      </div>
    </div>

    <!-- Select Basic -->
    <div class="control-group">
      <label class="control-label" for="daysOld">Max Days Old</label>
      <div class="controls">
      <select id="daysOld" name="daysOld" ng-model="scDetails.daysOld" class="input form-control">
        <option value="1" selected="selected">1</option>
        <option>3</option>
        <option>5</option>
        <option>7</option>
        <option>10</option>
        <option>14</option>
        <option>28</option>
      </select>
      </div>
    </div>

    <!-- Select Basic -->
    <div class="control-group">
      <label class="control-label" for="tracksPerArtist">Max Tracks Per Artist</label>
      <div class="controls">
      <select id="tracksPerArtist" name="tracksPerArtist" ng-model="scDetails.tracksPerArtist" class="input form-control">
        <option value="1" selected="selected">1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
      </div>
    </div>

    <!-- Button -->
    <div class="control-group">
      <label class="control-label" for="complete"></label>
      <div class="controls">
      <button ng-model="scDetails" id="complete" name="complete" class="btn btn-primary" ng-click="search(scDetails)" type="button">Get me the FRESH S#IT!</button>
      </div>
    </div>

    </fieldset>
  </form>
</div>
<ul class="row" ng-if="tracks.length" ng-model="tracks">
    <li class="col-xs-6 animate-repeat" ng-repeat="track in tracks">
      <div class="media well">
        <a class="pull-left" href="#">
          <img class="media-object" src="{{track.artwork_url}}" alt="">
        </a>
        <div class="media-body">
          <h4 class="media-heading">{{track.title | limitTo:30}}</h4>
          <p class="description">{{track.description | limitTo:100}}</p>
          <p ng-show="{{track.downloadable}}">
            <span class="glyphicon glyphicon-download"></span>
            <a href="{{track.permalink_url}}" target="_blank" > Download Available</a>
          </p>
        </div>
        <iframe iframe-load="onLoad()"
                src="{{track.src}}"
                width="100%"
                height="20"
                scrolling="no"
                frameborder="no">
        </iframe>
      </div>
    </li>

     <li class="animate-repeat" ng-if="tracks.length == 0" ng-hide="json">
       <strong>No tracks found...</strong>
     </li>
</ul>
